.nib-blk
  &[data-type='h1']
    .nib-blk-ctrl
      margin-top: 0px
  &[data-type='h2']
    .nib-blk-ctrl
      margin-top: -2px
  &[data-type='h3']
  &[data-type='p']
    .nib-blk-ctrl
      margin-top: -4px
