$t = {
  bg: #FAFAFF,
  pri: #29B6F6,
  text1: #393939,
  text2: #898989,
  text3: #CFCFCF,
  grey: #EEEEEE,
}

$sans = Roboto, "Open sans", "Helvetica Neue", Helvetica, Verdana, Arial, san-serif


flex-center()
  display: flex
  align-items center
  justify-content center