.nib-editor
  h1
    font-size: 24px;
    line-height: 32px;
    m(t, 6)
    m(b, 4)
  h2
    font-size: 20px;
    line-height: 28px;
    m(t, 5)
    m(b, 4)
  h3
  p
    font-size: 16px
    line-height: 24px
    m(b, 4)
    m(t, 0)